<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>회원가입</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/signup.js"></script>
    </head>
    <body>
        <h2>회원가입</h2>
        <form id="frm" method="post" action="" enctype="multipart/form-data">
            <ul>
                <li><input type="text" name="id" /></li>
                <li><input type="password" name="pw" /></li>
                <li><input type="text" name="name" /></li>
                <li><input type="file" name="upload1" /></li>
            </ul>
            <button type="submit">회원가입</button>
        </form>
    </body>
</html>
